<section class="edit-user-container">
  <h1 class="text-2xl font-bold mb-2">Editar perfil</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :name, class: "text-sm text-gray-700 mt-3" %>
      <%= f.text_field :name, placeholder: 'Nome', class: "p-2 border border-gray-400 rounded text-sm" %>
  
      <%= f.label :birth_date, class: "text-sm text-gray-700 mt-3" %>
      <%= f.date_field :birth_date, class: "p-2 border border-gray-400 rounded text-sm" %>
  
      <%= f.label :role, class: "text-sm text-gray-700 mt-3" %>
      <%= f.text_field :role, placeholder: 'Cargo', class: "p-2 border border-gray-400 rounded text-sm" %>
  
      <%= f.label :department, class: "text-sm text-gray-700 mt-3" %>
      <%= f.text_field :department, placeholder: 'Departamento', class: "p-2 border border-gray-400 rounded text-sm" %>
  
      <%= f.submit "Enviar", class: "my-8 p-2 bg-gray-900 text-white hover:bg-gray-800 cursor-pointer" %>
  <% end %>
    
  <div class="text-right">
    <%# button_to "Excluir minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-xs text-red-700 px-2 underline cursor-pointer" %></p>
  </div>
</section>