<% sale_post.errors.full_messages.each do |message| %>
  <p class="border border-red-700 text-red-700 mb-1 px-2 py-1"><%= message %></p>
<% end %>

<%= form_with model: sale_post, local: true, class: "flex flex-col" do |f| %>
  <div class="flex">
    <div class="flex flex-col">
      <%= f.label :cover, class: "text-sm text-gray-700 mt-3" %>
      <%= f.file_field :cover, placeholder: 'Email', class: "p-1 border border-gray-400 rounded text-sm w-64" %>
    </div>
    <div class="flex flex-col ml-4">
      <%= f.label :category_id, class: "text-sm text-gray-700 mt-3" %>
      <%= f.collection_select :category_id, @categories, :id, :name, {prompt: 'Escolha uma categoria'}, {class: "p-2 border border-gray-400 bg-white rounded text-sm w-64"} %>
    </div>
  </div>
  <%= f.label :title, class: "text-sm text-gray-700 mt-3" %>
  <%= f.text_field :title, placeholder: 'Título', class: "p-2 border border-gray-400 rounded text-sm" %>
  <%= f.label :description, class: "text-sm text-gray-700 mt-3" %>
  <%= f.text_area :description, placeholder: 'Descrição', class: "p-2 border border-gray-400 rounded text-sm" %>
  <%= f.label :price, class: "text-sm text-gray-700 mt-3" %>
  <%= f.number_field :price, placeholder: 'Valor (número inteiro)', class: "p-2 border border-gray-400 rounded text-sm" %>
  
  <%= f.submit 'Criar anúncio', class: "mt-8 mb-4 py-2 bg-gray-900 text-white hover:bg-gray-800 cursor-pointer" %>
<% end %>