<div class="post-container">
  <%= @sale_post.title %>
  <%= @sale_post.description %>
  <%= @sale_post.category.name %>
  <%= number_to_currency @sale_post.price %>

  <div class="post-author">
    <%= @sale_post.user.name %>
    <%= @sale_post.user.email %>
    <%= @sale_post.user.role %>
    <%= @sale_post.user.department %>
  </div>

  <div class="comments-container">
    <h2>Comentários</h2>

    <%= 'Não há comentários' if @sale_post.comments.empty? %>

    <% @sale_post.comments.each do |comment| %>
      <div class="comment-item">
        <%= comment.user.name %>
        <%= comment.body %>
      </div>
    <% end %>

    <%= form_with model: [@sale_post, @comment], locals: true do |f| %>
      <%= f.text_area :body, placeholder: 'Comentário...' %>
      <%= f.submit 'Enviar' %>
    <% end %>
  </div>
</div>

<% if current_user.enabled? && current_user != @sale_post.user %>
  <%= link_to "Comprar", sale_post_orders_path(@sale_post.id), method: :post %>
<% end %>