<section class="post-container text-gray-900 grid sm:grid-cols-1 lg:grid-cols-2 mb-12">
  <div class="post-details h-screen/2 flex flex-col">
    <h1 class="text-2xl font-bold mb-2">
      <%= @sale_post.title %>
    </h1>
    <p class="post-author text-gray-600 text-sm mb-2">
      <span>Anunciado por: </span>
      <%= link_to @sale_post.user.name, profile_user_path(@sale_post.user), class: "underline" %> 
      em <%= l @sale_post.created_at, format: :short %>
    </p>
  
    <div class="mb-2">
      <%= simple_format(h(@sale_post.description)) %>
    </div>
    <p class="text-sm mb-4">
      <span >Categoria: </span>
      <%= link_to @sale_post.category.name, @sale_post.category, class: "underline" %>
    </p>
    <div class="buy-price mt-auto mb-4">
      <div class="text-3xl mb-4"><%= number_to_currency @sale_post.price %></div>
  
      <% if current_user == @sale_post.user && !@sale_post.sold? %>
        <div class="seller-controllers">
          <%= enable_disable_button(@sale_post) %>
        </div>
      <% end %>

      <% if @sale_post.sold? %>
        <p class="text-sm">Anúncio finalizado</p>
      <% end %>
  
      <% if current_user.enabled? && current_user != @sale_post.user %>
        <div class="">
          <% if @order_in_progress.present? %>
            <%= link_to "Ver pedido", @order_in_progress, class: "bg-blue-700 hover:bg-blue-600 text-white p-2 rounded" %>
          <% else %>
            <%= link_to "Comprar", sale_post_orders_path(@sale_post.id), method: :post, data: { disable_with: "Aguarde" }, class: "bg-green-700 hover:bg-green-600 text-white p-2 rounded" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="image-container bg-gray-300 flex justify-center w-full h-screen/2">
    <%= cover_image(@sale_post, classes: "max-w-4xl object-contain") %>
  </div>
</section>

<div class="comments-container">
  <h2 class="text-xl font-bold mb-2">Comentários</h2>

  <%= 'Não há comentários' if @comments.empty? %>

  <% @comments.each do |comment| %>
    <div class="comment-item text-sm mb-4">
      <header class="comment-header">
        <%= link_to comment.user.name, profile_user_path(comment.user), class: "font-bold" %>
        <span class="text-xs text-gray-800"><%= comment.user.department %></span>
      </header>
      <p class="comment-body">
        <%= comment.body %>
        <span class="text-xs text-gray-600 ml-1"><%= l comment.created_at, format: :short %></span>
      </p>
    </div>
  <% end %>

  <%= form_with model: [@sale_post, @comment], locals: true, class: "w-full"  do |f| %>
    <%= f.text_area :body, placeholder: 'Escreva um comentário...', class: "p-2 border border-gray-400 rounded text-sm block w-full" %>
    <div class="text-right">
      <%= f.submit 'Enviar', class: "bg-gray-900 text-white text-sm px-2 cursor-pointer hover:bg-gray-800" %>
    </div>
  <% end %>
</div>