<article class="post-container text-gray-900">
  <h1 class="text-xl font-bold mb-4">
    <%= @sale_post.title %>
  </h1>
  <div class="image-container bg-gray-300 flex justify-center w-full h-64">
    <%= cover_image(@sale_post, classes: "max-w-4xl object-contain") %>
  </div>
  
  <p>
    <%= @sale_post.description %>
  </p>
  <%= @sale_post.category.name %>
  <%= number_to_currency @sale_post.price %>

  <div class="post-author">
    <%= link_to @sale_post.user.name, profile_user_path(@sale_post.user) %>
    <%= @sale_post.user.email %>
    <%= @sale_post.user.role %>
    <%= @sale_post.user.department %>
  </div>

  
</article>

<div class="comments-container">
    <h2>Comentários</h2>

    <%= 'Não há comentários' if @sale_post.comments.empty? %>

    <% @sale_post.comments.each do |comment| %>
      <div class="comment-item">
        <%= comment.user.name %>
        <%= comment.body %>
      </div>
    <% end %>

    <%= form_with model: [@sale_post, @comment], locals: true do |f| %>
      <%= f.text_area :body, placeholder: 'Comentário...' %>
      <%= f.submit 'Enviar' %>
    <% end %>
  </div>

<% if current_user.enabled? && current_user != @sale_post.user %>
  <%= link_to "Comprar", sale_post_orders_path(@sale_post.id), method: :post %>
<% end %>