<nav class="bg-gray-900 text-white flex items-center justify-between px-8 py-2 min-w-0">
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo-white.png", class: "w-32" %>
    <% end %>
    <ul class="flex mx-8 font-bold">
      <li class="mr-4"><%= link_to "Início", root_path, class: "hover:underline" %></li>
      <li><%= link_to "Categorias", categories_path, class: "hover:underline"  %></li>
    </ul>
    <%= form_with url: search_sale_posts_path, method: :get, local: true, class: "ml-4 flex items-center justify-center" do |f| %>
      <%= f.text_field :q, placeholder: 'Buscar', class: "px-2 w-64 text-gray-900 text-sm h-8" %>
      <%= button_tag type: 'submit', class: "search-btn px-2 bg-gray-200 text-gray-900 text-sm h-8" do %>
        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
        </svg>
      <% end %>
    <% end %>
  </div>
  
  <div class="flex items-center">
    <%= link_to "Criar um anúncio", new_sale_post_path, class: "mx-10 border border-gray-200 text-gray-200 hover:bg-gray-200 hover:text-gray-900 rounded px-3 py-1" if current_user.enabled? %>
    <div>
      <%= link_to my_account_path, class: "hover:underline" do %>
        <%= show_user_title %>
        <% if current_user.notifications.unseen.present? %>
          <span class="notifications rounded-full bg-red-600 text-white inline-block text-sm text-center w-5 h-5">
            <%= current_user.notifications.unseen.size %>
          </span>
        <% end %>
      <% end %>
      <span class="mx-2">|</span>
      <%= link_to "Sair", destroy_user_session_path, class: "hover:underline", method: :delete %>
    </div>
  </div>
</nav>

<% unless current_user.enabled? %>
  <div class="fill-profile-warning text-center bg-yellow-200">
    <p>
      Seu perfil está incompleto. Para comprar ou vender, 
      <%= link_to 'preencha seu perfil', edit_user_registration_path, class: "text-blue-500"%>.
    </p>
  </div>
<% end %>