<%= Order.human_attribute_name("status.#{@order.status}") %>
<%= number_to_currency @order.final_price %>
<%= @order.item_name %>
<%= @order.item_description %>
<%= number_to_currency @order.posted_price %>

<% if @order.in_progress? %>
  <div class="messages-container">
    <%= form_with model: [@order, @message], local: true do |f| %>
      <%= f.text_field :body, placeholder: 'Escreva uma mensagem...' %>
      <%= f.submit 'Enviar' %>
    <% end %>

    <% @order.messages.each do |message| %>
      <%= message.author.name %>
      <%= message.body %>
    <% end %>
  </div>
<% end %>


<% if current_user == @order.seller && @order.in_progress? %>
  <div class="seller-controllers">
    <button class="complete-btn">Concluir venda</button>
    <%= form_with url: complete_order_path, local: true, class: "complete-form hidden" do |f| %>
      <%= f.label :final_price, 'Valor final' %>
      <%= f.number_field :final_price %>
      <%= f.submit 'Finalizar' %>
    <% end %>
    <%= link_to 'Cancelar venda', cancel_order_path, method: :post %>
  </div>
<% end %>

<%= javascript_pack_tag 'seller_actions' %>

