<nav class="text-gray-800 mb-6 pb-6 border-b">
  <ul class="flex flex-col md:flex-row items-center justify-center">
    <li class="px-6 <%= current_page?(my_account_path) ? 'font-bold border-b-2' : 'underline hover:no-underline' %>">
      <%= link_to_unless_current 'Minha conta', my_account_path %>
    </li>
    <li class="px-6 <%= current_page?(sale_posts_my_account_path) ? 'font-bold border-b-2' : 'underline hover:no-underline' %>">
      <%= link_to_unless_current 'Meus anúncios', sale_posts_my_account_path %>
    </li>
    <li class="px-6 <%= current_page?(history_my_account_path) ? 'font-bold border-b-2' : 'underline hover:no-underline' %>">
      <%= link_to_unless_current 'Meu histórico', history_my_account_path %>
    </li>
    <li class="px-6 <%= current_page?(profile_user_path(current_user)) ? 'font-bold border-b-2' : 'underline hover:no-underline' %>">
      <%= link_to_unless_current 'Meu perfil', profile_user_path(current_user) %>
    </li>
  </ul>
</nav>