<!DOCTYPE html>
<html>
  <head>
    <title>CompaniesMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>AELALALA</h1>
    <% if user_signed_in? %>
      <nav>
        <span>Marketplace Logo</span>
        <%= show_user_title %>

        <% if current_user.disabled? %>
          <div class="fill-profile-warning">
            <%= link_to 'Preencher perfil', edit_user_registration_path %>
          </div>
        <% end %>
      </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
