<!DOCTYPE html>
<html>
  <head>
    <title>CompaniesMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200 relative">    
    <div class="flash-msg absolute top-0 mt-12 w-full text-center transition-all duration-1000">
      <% if notice %>
        <span class="alert bg-blue-100 border border-blue-400 text-blue-700 px-4 py-2 rounded"><%= notice %></span>
      <% end %>
      <% if alert %>
        <span class="alert bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded"><%= alert %></span>
      <% end %>
    </div>

    <%= render 'shared/navbar' if user_signed_in? %>    

    <div class="container mx-auto text-gray-900">
      <div class="<%= 'bg-white mt-4 rounded-lg p-8' if user_signed_in? %>">
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag 'flash_notifications' %>
  </body>
</html>
